@inherits LayoutComponentBase

<section class="section">
    @Body
</section>

@* <div class="page">
    <main>
        <article class="content px-4">
           
        </article>
    </main>
</div>
 *@